<!DOCTYPE html>
<html>
<head>
    <title>Webcam Streaming</title>
    <script src="{{ url_for('static', filename ='index.js')}}"></script>
</head>
<body>
    <h1>Webcam Streaming</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <div>
        <p>Genre: <span id="genre"></span></p>
        <p>Emotion: <span id="emotion"></span></p>
        <p>Âge: <span id="age"></span></p>
    </div>
   
</body>
</html>
